.about-page-hero{
	background-image: url(img/sisters-sunset_v2.jpg);
	background-attachment: fixed;
	height: 70vh;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	-o-flex-direction:column;

}
.filler-image-sisters{
	background-image: url(img/sisters-sunset_v2.jpg);
	background-attachment: fixed;
	height: 40vh;
	background-size: cover;
	display: flex;
	/* margin: auto; */
	justify-content: center;
	align-items: center;
	color: #fff;
}


.sisters-container{
	margin-top: 56px;
	margin-bottom: 56px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	-ms-flex-direction:row;
	-o-flex-direction:row;
	flex-direction:row;
	
	@media screen and (max-width:900px){
	      flex-direction:column;
	      align-items:center;
	      text-align: center;;
	     	}
		
	h1{
		text-transform: uppercase;
		font-size: 52px;
	}
}
.sister-image{
	transition: all 0.5s;
	img{
		@media screen and (max-width:600px){
	      width: 60%;
	     	}
	}
	margin-left: 20px;
		@media screen and (max-width:1000px){
	      margin-left: 20px;
	     	}
	     	@media screen and (max-width:900px){
	      margin-left: 0px;
	     	}
}
.sister-header{
	
}
.sister-paragraph{
	margin-left: 20px;
	margin-right: 20px;
		@media screen and (max-width:900px){
	      width: 70%;
	      text-align: center;
	     	}
}