footer{
	background-color: black;
	color: #fff;
}
.footer-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	-ms-flex-direction:row;
	-o-flex-direction:row;
	align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
		  	@media screen and (max-width:700px){
	       		// flex-direction:column;
	       		padding: 10px;
	     	}
	     	@media screen and (max-width:600px){
	       		// align-items:left;
	     	}
	p{
		padding: 20px;
	}
	a{
		color: #fff;
		&:hover{
			color:#D7DF23;
		}
	}
}
.footer-copy{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	-ms-flex-direction:row;
	-o-flex-direction:row;
		  	@media screen and (max-width:700px){
	       		flex-direction:column;
	     	}
}
.footer-social{
	a{
			@media screen and (max-width:700px){
		  		padding: 10px;
			}
	}
		@media screen and (max-width:700px){
	  		display: flex;
	  		flex-direction:column;
		}
	.fa-2x{
		&:hover{
			color: #D7DF23;
		}
	}
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	-ms-flex-direction:row;
	-o-flex-direction:row;
	align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
}