.menu{
	ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		list-style: none;
		flex-direction:row;
		-webkit-flex-direction:row;
		-moz-flex-direction:row;
		-ms-flex-direction:row;
		-o-flex-direction:row;
	}
	a{
		padding: 10px;
		background-color: none;
	}
}

.flexContainer{
      display: flex;
      flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -o-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      align-items: center;
      flex-direction: space-between;
      -moz-flex-direction: space-between;
      -webkit-flex-direction: space-between;
      -ms-flex-direction: space-between;
      -o-flex-direction: space-between;

      justify-content: space-between;
      z-index: 99999999999999;
}

header{
	// background: #FBAF3C;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999999999;
	h1{
		background:url("img/saltsisters-logo-transparent.png") no-repeat;
		height: 75px;
		text-indent: -3333px;
		width: 93px;
		position: relative;
		top: -8px;
	}
}

.main{
	// margin-top: 55px;
}
.transition {    
  	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.bg {
  background: #000;
  width: 100%;
  height:100px;
  opacity: 0;
  position: absolute;
  top: 0;
}
.show {
  opacity: 0.4;
}

// mobile nav
// .mobile{
// 	display: none;
// 	@media screen and (max-width:400px){
// 		display: block;
// 		display: -webkit-flex;
// 		display: -moz-flex;
// 		display: -ms-flex;
// 		display: -o-flex;
// 		display: flex;
// 		flex-direction: row-reverse;
// 		-webkit-flex-direction: row-reverse;
// 		-moz-flex-direction: row-reverse;
// 		-ms-flex-direction: row-reverse;
// 		-o-flex-direction: row-reverse;
// 	}

// }

// #toggle{
// 		display: none;
// 	}

// #toggle:checked + ul.menu{
// 		// left: 300px;
// 		// visibility: visible;
// 		display: block;
// 		// z-index: 9999999999999999;

// }