.home-page-hero{
	background-image: url(img/kitebeach_v2.jpg);
	background-attachment: fixed;
	height: 80vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
}
.main-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	margin: 56px 0px 56px 0px;
		  	@media screen and (max-width:900px){
	       		flex-direction:column;
	     	}
}

.item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:column;
	padding:25px;
		.fa-3x{
			margin: auto;
			color: #fd1662;
		}
		p{
			text-align: center;
			// font-size: 13px;
		}
		a{
			margin: auto;
			color: #fd1662;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 15px;
			&:hover{
				color:#fcb040;
			}
		}
}
.about-section{
	width: 57%;
	margin: auto;
	text-align: center;
	margin-top: 56px;
	margin-bottom: 56px;
		  	@media screen and (max-width:900px){
	       		width: 80%;
	     	}
	     	
	a{
		margin: auto;
		color: #fd1662;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 15px;
		&:hover{
			color:#fcb040;
		}
	}
}
.nav-container{
	position: fixed;
	top: 0;
	width: 100%;
}

.filler-image{
	background-image: url(img/kitebeach_v2.jpg);
	background-attachment: fixed;
	height: 40vh;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	h1{
		margin:auto;
		color: #fff;
	}
}
.paradise-filler-image{
	background-image: url(img/girl-pool.jpg);
	background-attachment: fixed;
	height: 40vh;
	background-size: cover;
	display: flex;
	h1{
		margin:auto;
		color: #fff;
	}
}
.filler-blank{
	height:40vh;
}
.filler-image-sunset{
	background-image: url(img/beach-background-5.jpeg);
	background-attachment: fixed;
	height: 40vh;
	display: flex;
	/* margin: auto; */
	justify-content: center;
	align-items: center;
	color: #fff;
	h1{
		text-align: center;
	}
}
.dates-rates{
	margin-top: 56px;
	margin-bottom: 56px;
	h1{
		text-align: center;
		margin-bottom: 10px !important;
	}
}
.dates-rates-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
		  	@media screen and (max-width:900px){
	       		flex-wrap: wrap;
	       		justify-content:center;
	     	}
	a{
		color:#000000;
	}
}

// Dates & Rates starts
.box{
	width: 33.33%;
	height: 300px;
	margin: 5px;
	position: relative;
		  	@media screen and (max-width:600px){
	       		width: 100%;
	       		margin: 10px;
	     	}
}
.content-title{
	h3{
		margin: 0;
	}
	h4{
		margin: 0;
	}
}
.days{
	h3{
		margin: 0;
	}
	h4{
		margin: 0;
	}
}
.dates-rates-image-winter{
	background-image: url(img/11.jpg);
	background-size: cover;
	height: 37vh;
	    background-repeat: no-repeat;

}
.dates-rates-image-spring{
	background-image: url(img/22.jpg);
	background-size: cover;
	height: 37vh;
	    background-repeat: no-repeat;

}
.dates-rates-image-summer{
	background-image: url(img/55.jpg);
	background-size: cover;
	height: 37vh;
	    background-repeat: no-repeat;

}
.dates-rates-image-fall{
	background-image: url(img/avocado.jpg);
	background-size: cover;
	height: 37vh;
	    background-repeat: no-repeat;

}
.dates-rates-content{
	position: absolute;
	bottom: 0;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.62);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: space-between;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	-o-justify-content:space-between;
	&:hover{
		background-color: rgba(251, 176, 64, 0.84);
		color: #fff;
	}
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
// Dates & Rates Ends